.DS_Store
.env
.git
.github
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
node_modules
rag/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
data
Dockerfile
docker-compose.yml
pnpm-lock.yaml
package.json
commitlint.config.js
